
html {
  background-color: black;
  font-family: sans-serif;

}


body {
  /*margin-bottom: 0px;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  margin-left: 40px;
}

.background-image {
  background-color: black;
  background-size: cover;
  background-image: url("cordelia.jpg");
   background-repeat: no-repeat;
   position: fixed;
   left: 0;
   right: 0;
   min-height: 100vh;
   /*min-width: 100vw;*/
   z-index: -1;
   background-position: 0% 0%;
   filter: brightness(0.3);
}

#newItem {
  margin-left: 80px;
  width: 300px;
}

button[type=button]{
    background-color: red;
    /*border: 2px solid white;*/
    border: none;
    color: black;
    font-size: 16px;
    margin-left: 20px;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    /*content: "x";*/
}

input[type=checkbox] {
  /*padding: 10px;*/
  margin-right: 20px;
  padding: 0px;
  height: 15px;
  width: 15px;

}

.content {
    flex: 1;
    margin: 0px;
}

#tasks {
  /**/
}

p[class=media] {
 display: inline-block;
 margin-right: 30px;
 font-size: 20px;
}

a {
  color: white;
}

#topline {
  display: flex;
}

.todoinput {
  height:30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  font-size: 18px;
}

 button[class=todoinput] {
   border-radius: 10px;
   background-color: white;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  height: 60px;
}

h1 {
font-size: 48px;
padding: 0px;

}

h2 {
  color: inherit;
  font-size: 36px;
}
