

html {
  background-color: black;
  font-family: sans-serif;

}


body {
  /*margin-bottom: 0px;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  margin-left: 40px;
}

.background-image {
  background-color: white;
  background-size: cover;
  background-image: url("cordelia.jpg");
   background-repeat: no-repeat;
   position: fixed;
   left: 0;
   right: 0;
   min-height: 100vh;
   /*min-width: 100vw;*/
   z-index: -1;
   background-position: 0% 0%;
   filter: brightness(0.6);
}

#newItem {
  margin-left: 80px;
}

.delete {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    /*height: 15px;*/
}

.checkbox {
  visibility: hidden;
  /*z-index: 999;*/
}


.checkbox-container {
  /*width: 40px;
  height: 40px;*/
	margin: 0px;
	position: relative;
  display: inline-block;
}

/**
 * Create the box for the checkbox
 */
label {
  cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -8px;
  left: 0;
	background: #eee;
	border:4px solid grey;
  border-radius: 10px;
}

.checkbox-container label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.checkbox-container label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkbox-container input[type=checkbox]:checked +  label::after {
	opacity: 1;
}


span {
  margin-left: 30px;
}

.content {
    flex: 1;
    margin: 0px;
}

#tasks {
  /**/
}

p[class=media] {
 display: inline-block;
 margin-right: 30px;
 font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

#topline {
  display: flex;
}

.todoinput {
  height:30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  font-size: 18px;
}

 button[class=todoinput] {
   border-radius: 10px;
   background-color: white;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  height: 60px;
}

h1 {
font-size: 48px;
padding: 0px;

}

h2 {
  color: inherit;
  font-size: 36px;
}
